<div>
  <h1>The Meme Contest</h1>
  <h2>Choose the meme bellow</h2>
  <div>
    <img src='assets/forever-alone.jpeg'>
    <img src='assets/fuuuu.jpg'>
    <img src='assets/like-a-boss.jpeg'>
  </div>
</div>
