h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  text-align: center;
}

h2 {
  color: red;
  font-family: Times;
  font-size: 150%;
  text-align: center;
}

img {
  border-width: thin;
  border-color: black;
  border-style: solid;
}
